<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Post_list</title>
    </head>
    <body>
        <h1>Welcome! 뉴비 블로그!</h1>
        <ul>
            {% for post in posts %}
            <li>
                <div class="title"><a href="">{{post.title}}</a></div>
                <div class="content">{{post.content|truncatewords:30}}</div>
                <div class="published-date">{{post.published_date}}</div>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>